<mat-card class="preview-card">
  <mat-card-content>

    <div fxLayout="column">

      <div fxFlex="50px">
        <div fxLayout="row" style="height: 50px">

          <div fxFlex="20" fxFlexFill fxLayoutAlign="start center">
            <ng-container *ngIf="imageUrl">
              <img [src]="imageUrl" height="50px">
            </ng-container>
          </div>

          <div fxFlex="20" fxFlexFill fxLayoutAlign="start center">
            {{fileName}}
          </div>
          <div fxFlex="10" fxFlexFill fxLayoutAlign="start center">
            {{sizeUnit}}
          </div>
          <div fxFlex="40" fxFlexFill fxLayoutAlign="start center">
            {{imageDiscription}}
          </div>

          <div fxFlex="5" fxFlexFill fxLayoutAlign="end center">
            <button mat-mini-fab color="" (click)="edit()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          
            <div fxFlex="5" fxFlexFill fxLayoutAlign="end center">
              <button mat-mini-fab color="primary" (click)="upload()">
                <mat-icon>file_upload</mat-icon>
              </button>
            </div>

          <div fxFlex="5" fxFlexFill fxLayoutAlign="end center">
            <button mat-mini-fab color="accent" (click)="download()">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>

          <div fxFlex="5" fxFlexFill fxLayoutAlign="end center">
            <button mat-mini-fab color="warn" (click)="delete()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>

