.outline {
    padding: 28px;
}

.clock {
    font-size: 50px;
}

.card {
    height: 95%;
    width: 95%;
    padding: 0;
}

.mat-icon {
    font-size: 35px;
}

.value {
    font-size: 45px;
}

.change-rate {
    font-size: 25px;
}

.description {
    font-size: 20px;
}

////////////////////////// 
// .chartjs-toolbar {
//     max-height: 30px;
//     min-height: 30px;
// }
.chartjs-toolbar-top {
    font-size: 28px;
}
.chartjs-toolbar-top-row {
    height: 30px;
}

.chartjs-toolbar-hooter {
    bottom: 0px;
    position: absolute;
    font-size: 28px;
}
.chartjs-toolbar-hooter-row {
    height: 30px;
}