<app-navigation>
        
  <div  fxLayout="row wrap" fxLayoutAlign="center center" >


    <div class="card-row" fxFlex="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="column" class="example-list" (cdkDropListDropped)="drop($event)" cdkDropList>

          <mat-card class="example-box">
            <mat-card-content>
              
              <div class="add-container">
                <button mat-icon-button color="primary" aria-label="Add TODO column">
                  <mat-icon>add</mat-icon>
                </button>
                タスクを追加する
              </div>

            </mat-card-content>
          </mat-card>

        <mat-card class="draggable-box" *ngFor="let movie of movies" cdkDrag>
          <mat-card-content>
              {{movie}}
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>

</app-navigation>

